/* all app scss styles here */

$red: rgb(227, 6, 19);
$dark-grey: #303030;

.container {
	color: white;
	font-family: 'Open Sans', serif;
	margin: auto;
	overflow: hidden;
	position: relative;
	width: 180px;

	h2, h3 {
		color: white;
	}

	.loading {
		opacity: 0 !important;
	}

	.bg_image {
		background-image: url(../images/bg_image.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: 100% auto;
		height: 145px;
		opacity: 1; // used with the loading effect
		transition: opacity 1s ease; // used with the loading effect
		width: 100%;
	}
	
	.red-curve {
		background-image: url('../images/red-curve-width_180.png');
		background-position: center top;
		background-repeat: no-repeat;
		background-size: 100% auto;
		height: 336px;
		opacity: 1; // used with the loading effect
		margin: -30px 0 63px;
		position: relative;
		transform: none; // used with the loading effect
		transition: all .5s ease; // used with the loading effect
		width: 100%;

		&.loading {
			transform: translateY(100%);
		}

		.content {
			padding: 0 18px 17px;
			position: relative;

			.product_image {
				display: block;
				height: 83px;
				margin: 0;
				position: absolute;
				top: -30px;
				left: 50%;
				transform: translateX(-50%);

				+ .main_text {
					padding-top: 57px;
				}
			}

			.main_text {
				padding-top: 50px;
				
				.title {
					font-size: 9.6px;
					margin: 0 0 4px;
					text-transform: uppercase;
				}

				.header {
					font-size: 22px;
					font-weight: 600;
					line-height: 1.25;
					margin: 0 0 5px;
				}

				.text {
					font-size: 9px;
					text-align: justify;
				}
			}
		}

		.logo {
			position: absolute;
			bottom: 17px;
			left: 18px;
			max-width: calc(100% - 36px);
		}

		.disclaimer {
			background-color: white;
			color: $dark-grey;
			font-size: 10px;
			padding: 9px 17px;
			position: absolute;
			top: 100%;
		}
	}

	.CTA {
		position: absolute;
		bottom: 155px;
		left: 17px;
		background-color: white;
		border-radius: 4px;
		box-shadow: 0 5px 9px 0 rgba(0, 0, 0, .4);
		color: $dark-grey;
		font-size: 12px;
		font-weight: 600;
		height: 26px;
		line-height: 26px;
		margin: 0;
		opacity: 1; // used with the loading effect
		padding: 0 30px;
		transition: all .5s ease; // used with the loading effect
		transform: none; // used with the loading effect
		z-index: 3;

		&.loading {
			transform: translateY(336px);
		}

		.red-border {
			background-color: $red;
			border-radius: 4px 0 0 4px;
			display: inline-block;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			width: 4px;
		}
	}

	&.no-text {
		
		.CTA {
			bottom: 208px;
		}
	}

	@media screen and (min-width: 320px) {
		min-height: 250px;
		width: 320px;

		.red-curve {
			background-image: url(../images/red-curve-height_250.png);
			background-position: right top;
			background-size: auto 100%;
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			margin: 0;
			width: 231px;

			&.loading {
				transform: translateX(-100%);
			}

			.content {
				position: static;

				.product_image {
					left: auto;
					right: 0;
					top: 50%;
					transform: translate(50%, -50%);
					max-width: 111px;
					height: auto;

					+ .main_text {
						width: 140px;
					}
				}

				.main_text {
					padding-top: 35px !important;
					width: 176px;

					.header {
						font-size: 21px;
					}
				}
			}

			.logo {
				bottom: 54px;
				max-width: none;
				height: 37px;
			}

			.disclaimer {
				background-color: transparent;
				bottom: 0;
				color: white;
				font-size: 9px;
				top: auto;
				width: 220px;
			}
		}

		.bg_image {
			background-size: auto 100%;
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			width: 130px;
		}

		.CTA {
			bottom: 12px;
			left: auto;
			right: 12px;

			&.loading {
				transform: none;
			}
		}

		&.no-text .CTA {
			bottom: 12px;
		}
	}

	@media screen and (min-width: 580px) {
		min-height: 400px;
		width: 580px;

		.red-curve {
			background-image: url(../images/red-curve-height_400.png);
			width: 369px;

			.content {
				padding: 0 40px;

				.product_image {
					max-width: 196px;

					+ .main_text {
						width: 216px;
					}
				}

				.main_text {
					padding-top: 80px !important;
					width: 280px;

					.title {
						font-size: 12px;
					}

					.header {
						font-size: 32px;
						margin-bottom: 10px;
					}

					.text {
						font-size: 13px;
					}
				}
			}

			.logo {
				bottom: 60px;
				left: 40px;
				height: 51px;
			}

			.disclaimer {
				font-size: 10px;
				padding: 0 40px 18px;
				width: 350px;
			}
		}

		.bg_image {
			width: 293px;
		}

		.CTA {
			bottom: 29px;
			right: 29px;
			font-size: 13px;
		}

		&.no-text .CTA {
			bottom: 29px;
		}
	}

	@media screen and (min-width: 980px) {

		min-height: 300px;
		width: 980px;

		.red-curve {
			background-image: url('../images/red-curve-height_300.png');
			background-position: right center;
			width: 422px;

			.content {

				.product_image {
					
					+ .main_text {
						width: 223px !important;
					}
				}

				.main_text {
					padding-top: 35px !important;
					width: 310px !important;

					.header {
						margin-bottom: 4px;
					}
				}
			}

			.logo {
				bottom: 58px;
			}
		}

		.bg_image {
			background-position: right center;
			background-size: 100% auto;
			width: 610px;
		}

		.CTA {
			bottom: 25px;
			font-size: 14.3px;
			height: 32px;
			line-height: 32px;
			padding: 0 36px;
			right: 35px;
		}
		
		&.height600px {
			min-height: 600px;
	
			.red-curve {
				background-image: url('../images/red-curve-height_600.png');
				background-position: left top;
				width: 475px;

				.content {
					padding: 0 58px;

					.product_image {
						left: 31px;
						top: 24px;
						right: auto;
						transform: none;
						max-height: 147px;
						max-width: none;

						+ .main_text {
							padding-top: 186px !important;
						}
					}

					.main_text {
						padding-top: 39px !important;

						.title {
							font-size: 15px;
							margin-bottom: 0;
						}

						.header {
							font-size: 48px;
							margin-bottom: 5px;
						}

						.text {
							font-size: 15.6px;
						}
					}
				}

				.logo {
					bottom: 74px;
					height: 63px;
					left: 58px;
				}

				.disclaimer {
					left: 58px;
					padding: 0 0 30px;
				}
			}
	
			.bg_image {
				width: 595px;
			}

			.CTA {
				bottom: 32px;
				font-size: 16px;
				height: 35px;
				line-height: 35px;
				padding: 0 40px;
				right: 44px;
			}
		}
	}
}
